<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>{% block title %} - ABC村{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/css/theme.default.min.css">

        <style>
        #sortable-table th {

        }
        </style>
        <script>
        $(document).ready(function() {
            $('#sortable-table').tablesorter();
        });
        </script>


    </head>

    <nav>
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="{{url_for('module_basis.home')}}">ABC村</a></li>
            {% if current_user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{{url_for('module_juutakuti.user', username=current_user.username)}}">{{current_user.username}}
                (Lv: {{ current_user.level}}) </a></li>
                <li class="nav-item"><a class="nav-link disabled">VP: {{current_user.VP}}</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{{url_for('module_regi.login')}}">入村/帰村</a></li>
            {% endif %}
        </ul>
    </nav>

    <nav>
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="{{url_for('module_hiroba.bbs')}}">広場</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('module_yakuba.contests')}}">役場</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('module_juutakuti.users')}}">住宅地</a></li>
        </ul>
    </nav>

    <body>
        <!-- container -> row -> col -->
        <div class="container">
            <div class="row">
                {% block container %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>