{% extends "base.html" %}
{% from "_helpers.html" import render_field %}

{% block title%}
    役場/資料室/村の掟 対戦編{{super()}}
{% endblock %}

{% block container %}
<h1>役場/資料室/村の掟 対戦編</h1>
{% for message in get_flashed_messages() %}
<p>※{{message}}</p>
{% endfor %}

<p class="text-left">
    <div class="row">
    <span class="col-md-8 mx-auto" style="text-align:left">
        <div>ABC村の住民同士はVPを賭けて対戦をすることが出来ます. </div>
        <br>
        <h5>対戦を申請する</h5>
        <div>
            他の住民の家へ行くと対戦の申請が出来ます. 申請フォームでベットするVPを入力して申請すると, 入力したVPがあなたのVPから支払われて相手の返事を待つ状態になります.
            ここで, 自分が持っている分より多くのVPをベットすることは出来ません.<br>
            既に申請した対戦に対する操作は相手の家だけでなく自分の家でも出来ます.<br>
            申請した対戦は, 相手の返事を待っている間はいつでもキャンセルし, ベットしたVPを回収することが出来ます.<br>
            相手が対戦を受けた場合, 次のABCで対戦することになります.<br>
            相手が対戦を断った場合, 回収と書かれたボタンを押すことでベットしたVPが返却されます. (相手が断った時点で自動的に返却されるわけでは無いことに気を付けてください)
        </div>
        <br>
        <h5>対戦を受ける</h5>
        <div>
            申請された対戦は自分の家で確認出来ます.<br>
            申請された対戦を受けると, ベットされたVPと同じだけのVPがあなたのVPから支払われて次のABCで対戦することになります.
            ここで, 自分が持っている分より多くのVPがベットされている場合は対戦を受けることが出来ません.<br>
        </div>
        <br>
        <h5>対戦の勝敗判定</h5>
        <div>
            次のABCの結果をもとに対戦の勝敗判定を行います.<br>
            2人の順位が異なった場合, より順位が小さい人が勝ちとなり, その人のみにベットしたVPの2倍(2人がベットしたVPの合計)が支払われます.<br>
            そうでない場合, 対戦は引き分けとなり, 2人にそれぞれベットしたVPが返却されます.
        </div>

        <br>
        <h5>注意点</h5>
        <li>一方が申請し, もう一方が受けた対戦は取り消すことが出来ません.</li>
        <li>申請する人と申請される人が同じ対戦を複数存在させることは出来ません. (申請する人と申請される人が逆の対戦は許されます)</li>
        <li>対象のABCが始まってから判定を行うまでの間, 対戦を申請したり申請された対戦を受けることは出来ません.</li>
        <li>返事待ちのまま勝敗判定となった対戦は断ったことになります.</li>
        <li>断られた対戦のVPを回収せずに放置した場合, 次回ABCの勝敗判定のタイミングでベットしたVPが返却されます.</li>
    </span>
    </div>
</p>

<br>
<a href="{{url_for('module_yakuba.documents')}}">資料室に戻る</a>

{% endblock %}