{% extends "base.html" %}
{% from "_helpers.html" import render_field %}

{% block title%}
    役場/資料室{{super()}}
{% endblock %}

{% block container %}
<h1>役場/資料室</h1>

<table class="table table-bordered text-center m-auto" style="width: 50%">
  <tbody>
    <tr><td><a href="{{url_for('module_yakuba.document', document='doc_needVP')}}">Lv UPに必要なVP一覧</a></td></tr>
    <tr><td><a href="{{url_for('module_yakuba.document', document='doc_ruleABC')}}">村の掟 ABC編</a></td></tr>
    <tr><td><a href="{{url_for('module_yakuba.document', document='doc_ruleBattle')}}">村の掟 対戦編</a></td></tr>
    <tr><td><a href="{{url_for('module_yakuba.document', document='doc_ifBlue')}}">青になった住民の処遇について</a></td></tr>
  </tbody>
</table>
<br>
<a href="{{url_for('module_yakuba.contests')}}">予定表</a>

{% endblock %}