{% extends "base.html" %}
{% from "_helpers.html" import render_field %}


{% block title%}
    {% if user %}
        {{ user.username }}の家{{super()}}
    {% else %}
        空き家{{super()}}
    {% endif %}
{% endblock %}

{% block container %}
    {% if user %}
        <h1>{{ user.username }}の家</h1>
    {% else %}
        <h1>{{ username }}はABC村の住民ではないようだ……</h1>
    {% endif %}

<!-- flashを実行する -->
{% for message in get_flashed_messages() %}
<li>{{message}}</li>
{% endfor %}

{% if user %}
    <div>Lv: {{ user.level }} {% if username == current_user.username %}
        <form method='POST'>{{form.submit()}}</form>
        {%  endif %}</div>
    <div>VP: {{ user.VP }}</div>
    <div>登録日時: {{ user.register_time }}</div>
    {% if username == current_user.username %}
        <div> <a href="{{url_for('module_regi.logout')}}">村を出る </a></div>
    {% endif %}
{% endif %}

{% endblock %}
}